<form asp-action="UploadFile" asp-controller="Upload" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" />
    <button type="submit">Envoyer vers Spring</button>
</form>
