@model int 

@{
    ViewData["Title"] = "Modifier le prix du ticket";
}

<h2>Modifier le prix du ticket</h2>

<form asp-action="Edit" asp-controller="Ticket" method="post">
    <input type="hidden" name="TicketId" value="@Model" />

    <div class="form-group">
        <label>Montant du ticket</label>
        <input type="number" step="0.01" name="Montant" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-success">Valider</button>
</form>
